:lang(ja),
:lang(ko),
:lang(th),
:lang(tw),
:lang(zh) {
    .consonant {
        &-Wrapper {
            font-family: inherit;
        }

        &-CardsGrid.one-half .consonant-Card-title,
        &-CardsGrid.half-height .consonant-Card-title {
            font-size: 15px;
            line-height: initial;
        }

        &-CardsGrid.one-half .consonant-Card-text {
            line-height: 1.275rem;
        }
    }
}
